<nav id="nav">
  <div class="nav-item">
    <span class="nav-title">Home</span>
    <a href="../index.html">Homepage</a>
  </div>
  <div class="nav-item">
    <span class="nav-title">Layouts</span>
    <a href="../pages/twocolumn1.html">Two Column #1</a>
  </div>
  <div class="nav-item">
    <span class="nav-title">Layouts</span>
    <a href="../pages/twocolumn2.html">Two Column #2</a>
  </div>
  <div class="nav-item">
    <span class="nav-title">Content</span>
    <a href="../pages/onecolumn.html">One Column</a>
  </div>
  <div class="nav-item">
    <span class="nav-title">Advanced</span>
    <a href="../pages/threecolumn.html">Three Column</a>
  </div>
</nav>
