.vs/website-demo/v17/DocumentLayout.json
.vs/website-demo/v17/.wsuo
.vs/website-demo/FileContentIndex/ead77d0e-7638-4e62-bb8e-2cb4e1a4ee09.vsidx
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
